version: "3"
services:
  prometheus:
    image: prom/prometheus:{{ prom_version }}
    container_name: prometheus
    volumes:
      - /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
{% if prom_samehost == true %}
      - prometheus-network
{% else %}
      - default
{% endif %}
{% if prom_node_targets|length > 0 %}
    extra_hosts:
{% for t in prom_node_targets %}
      - {{ t.name }}:{{ t.ipaddr }}
{% endfor %}
{% endif %}
{% if loki_host == "" %}
    logging:
      options:
        max-size: "10k"
        max-file: "5"
{% else %}
    logging:
      driver: loki
      options:
        loki-url: https://{{ loki_host }}/loki/api/v1/push
        loki-tenant-id: {{ loki_tenant_id }}
        max-size: "10k"
        max-file: "5"
{% endif %}
    command: ["--config.file=/etc/prometheus/prometheus.yml", "--storage.tsdb.path=/prometheus/", "--storage.tsdb.retention.time={{ prom_retention_time }}"]

volumes:
  prometheus-data:

{% if prom_samehost == true %}
networks:
  prometheus-network:
    external: true
{% endif %}