# my global config
global:
  scrape_interval:     60s
  evaluation_interval: 60s
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: '{{ prom_external_label }}'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
{% if prom_node_targets|length > 0 %}
  - job_name: 'node'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets:
{%   for t in prom_node_targets %}
        - {{t.name}}:{{t.port}}
{%   endfor %}
{% endif %}

{% if loki_host is defined %}
  - job_name: 'loki'
    static_configs:
      - targets:
        - loki:3100
{% endif %}

{% if prom_httpcheck_targets|length > 0 %}
  - job_name: 'httpcheck'
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for t in prom_httpcheck_targets %}
        - {{ t }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
{% endif %}

  - job_name: 'cadvisor'
    static_configs:
    - targets: ['cadvisor:8080']

{% if prom_ec2_monitoring_enable %}
  - job_name: 'ec2'
    ec2_sd_configs:
      - region: {{ prom_ec2_monitoring_region }}
        access_key: {{ lookup('env', 'AWS_ACCESS_KEY') }}
        secret_key: {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
        port: 9100
    relabel_configs:
      - source_labels: [__meta_ec2_public_ip]
        regex:  '(.*)'
        target_label: __address__
        replacement: '${1}:9100'
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

  - job_name: 'ec2_process'
    ec2_sd_configs:
      - region: {{ prom_ec2_monitoring_region }}
        access_key: {{ lookup('env', 'AWS_ACCESS_KEY') }}
        secret_key: {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
        port: 9256
    relabel_configs:
      - source_labels: [__meta_ec2_public_ip]
        regex:  '(.*)'
        target_label: __address__
        replacement: '${1}:9256'
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
{% endif %}

{% if vault_host != "" %}
  - job_name: 'vault'
    metrics_path: "/v1/sys/metrics"
    params:
      format: ['prometheus']
    scheme: https
    bearer_token: "{{ lookup('env', 'VAULT_PROM_TOKEN') }}"
    static_configs:
    - targets: ['{{ vault_host }}']
{% endif %}