{% if prom_remote_write is defined %}
{% filter indent(0) %}
{{ prom_remote_write }}
{% endfilter %}
{% endif %}

global:
  scrape_interval: {{ prom_scrape_interval }}
  evaluation_interval: 60s
  external_labels:
      monitor: '{{ prom_external_label }}'

scrape_configs:
{% if prom_node_targets|length > 0 %}
  - job_name: 'node'
    static_configs:
      - targets:
{%   for t in prom_node_targets %}
        - {{t.name}}:{{t.port}}
{%   endfor %}
{% endif %}

{% if blackbox_exporter_host is defined %}
{%   if prom_httpcheck_targets|length > 0 %}
  - job_name: 'httpcheck'
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{%     for t in prom_httpcheck_targets %}
        - {{ t }}
{%     endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_host }}
{%   endif %}
{% endif %}

{% if prom_cadvisor_targets|length > 0 %}
  - job_name: 'cadvisor'
    static_configs:
{%   for t in prom_cadvisor_targets %}
    - targets:
      -  {{ t }}
{%   endfor %}
{% endif %}

{% if prom_ec2_monitoring_enable %}
  - job_name: 'ec2'
    ec2_sd_configs:
      - region: {{ prom_ec2_monitoring_region }}
        access_key: {{ lookup('env', 'AWS_ACCESS_KEY') }}
        secret_key: {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
        port: 9100
    relabel_configs:
      - source_labels: [__meta_ec2_public_ip]
        regex:  '(.*)'
        target_label: __address__
        replacement: '${1}:9100'
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

  - job_name: 'ec2_process'
    ec2_sd_configs:
      - region: {{ prom_ec2_monitoring_region }}
        access_key: {{ lookup('env', 'AWS_ACCESS_KEY') }}
        secret_key: {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
        port: 9256
    relabel_configs:
      - source_labels: [__meta_ec2_public_ip]
        regex:  '(.*)'
        target_label: __address__
        replacement: '${1}:9256'
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
{% endif %}

{% if prom_additional_target is defined %}
{% filter indent(2,True) %}
{{ prom_additional_target }}
{% endfilter %}
{% endif %}